*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration:none;
    

}
.header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0.7)),url(images01/pic3.png);
    background-position: center;
    background-size: cover;
    position: relative;
    
}



nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center; 

}
    
nav img{
    width: 150px;

}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:10px 14px;
    position:13px;

}
.nav-links ul li a{
    color: azure;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: #fc036b;
    display:block;
    margin:auto;
    transition:0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width:90%;
    color:beige; 
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size:62px;

}
.text-box p{
    margin:10px 0 40px;
    font-size: 14px;
    color:aliceblue
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color:black;
}
.col {
    size-adjust: 50px;
    margin-right: 50%;
}

.par{
    font-size: 12px;
    margin-left: 50%;
}


.course{width:100%;
    margin:auto;
    text-align: center;
    padding-top: 100px; 
}
.line{
    width:150px;
    height: 4px;
    background: #fc036b;
    margin:10px auto;
    border-radius: 5px;
    background-size: cover;
    position: relative;
}
h1{
    font-size: 56px;
    font-weight: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.is{
    flex-basis: 31%;
    padding: 20px 12px;

}
.is:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2)
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;

}
.wrapper{
    width: 420px;
    background-color:darkgray ;
    color:#fff;


}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height:50px;
    background:darkgray;
    margin: 30px 0;
} 
.input-box input{
    width:100px;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    



}
.ctf {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7)),url(images01/bg01.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.ctf h1{
    color:black;
    margin-bottom: 40px;
    padding: 0;

}
.ctf{ padding: 8px 15px;
    background-color:bisque;
    border-radius: 30px;
    color: black}
.ctf2{padding: 8px 15px;
    background-color:#fc036b;
    border-radius: 30px;
    color: black

}  
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
       